
<html>
	<head>
<!--		<meta http-equiv="refresh" content="5" >-->

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<script src="static/snap.svg-min.js"></script>

		<title>{{title}}</title>

		{% block head %}
		{% endblock %}

	</head>

	<div class="sidebar">
	</div>

	<br class="page-top">


	<!--Header-->
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="header col-auto">
				Alex Calderwood
			</div>
		</div>

		<div class="top-menu-bar row justify-content-md-center">
			<div class="menu-item col-auto">
				<a href="{{url_for('blog')}}">
					Words
				</a>
			</div>
			<div class="menu-item col-auto">
				<a href="{{url_for('projects')}}">
					Projects
				</a>
			</div>
			<div class="check menu-item col-auto">
				<a href="{{url_for('bio')}}">
					About
				</a>
			</div>
			<div class="menu-item col-auto">
				<a href="{{url_for('contact')}}">
					Contact
				</a>
			</div>
		</div>

		{% block more_header %}
		{% endblock %}

	</div>

	<!--Body-->
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="page-content col-auto">

				{% block body %}
				{% endblock %}

			</div>
		</div>
	</div>

</html>
