
<html>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"/>

		<title>{{title}}</title>

		{% block head %}
		{% endblock %}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123199663-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-123199663-2');
		</script>

		<script>
			$.getJSON('https://json.geoiplookup.io/', function(data) {
				console.log("You are exposed! You are in " + data["city"] + ", " + data["postal_code"] + " at these coordinates: " + data["latitude"] + ", " + data["longitude"] );
				console.log("Anyone can learn this about you. Unless you're using a VPN.");
			});
		</script>

		<script type="text/javascript">
			// Mostly I am doing it this way because I wanted to experiment with a json endpoint
			// in the Flask site, but I realized that usuing Jinja, as I am with my name, 
			// is both simpler and quicker. I'm going to leave this as is for now, partly to
			// experiment with what else I can do with the endpoint.
			function sometimes_pronounce(id, text) {
				var url = "{{ url_for('sometimes_pronounce') }}"
				var data = {'text': text}

				fetch(url, {
					method: 'POST', // *GET, POST, PUT, DELETE, etc.
					mode: 'cors', // no-cors, *cors, same-origin
					cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
					credentials: 'same-origin', // include, *same-origin, omit
					headers: {
						'Content-Type': 'application/json'
					},
					redirect: 'follow', // manual, *follow, error
					referrerPolicy: 'no-referrer', // no-referrer, *client
					body: JSON.stringify(data) // body data type must match "Content-Type" header
				}).then((response) => {
					return response.json();
				}).then((json) => {
					var obj = document.getElementById(id);
					obj.text = json['text'];
					return obj;
				}).then((obj) => {
					obj.animate({
						'margin-left': '-=5px',
						'margin-right': '+=5px'
					}, 200);
					console.log("obj", obj); // https://danielcwilson.com/blog/2016/03/animations-and-promises/
				});
			}

			function modifyPage() {
				sometimes_pronounce('words', 'Words');
				sometimes_pronounce('projects', 'Projects');
				sometimes_pronounce('about', 'About');
				sometimes_pronounce('header', 'Alex Calderwood');
				
				// Keep calling this
				setTimeout(modifyPage, Math.random() * 3000);
			}
			
		</script>

	</head>
	<body onload="modifyPage()">
		<div class="sidebar">
		</div>

		<br class="page-top">

		<!--Header-->
		<div class="container">
			<div class="row justify-content-md-center .visible-sm-*">
				<div id="header" class="header col-auto">
					{{name}}
				</div>
			</div>

			<div class="top-menu-bar row justify-content-md-center">
				<div class="menu-item col-auto" onmousehover="sometimes_pronounce('words', 'words')">
					<a id="words" href="{{url_for('blog')}}">
						Words
					</a>
				</div>
				<div class="menu-item col-auto">
					<a id="projects" href="{{url_for('projects')}}" >
						Projects
					</a>
				</div>
				<div class="check menu-item col-auto">
					<a id="about" href="{{url_for('bio')}}">
						About
					</a>
				</div>
			</div>

			{% block more_header %}
			{% endblock %}

		</div>

		<!--Body-->
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="page-content col-md">

					{% block body %}
					{% endblock %}

				</div>
			</div>
		</div>
	</body>


</html>
