{% extends "base.html" %}


{% block head %}
<!-- <script>
    $( document ).ready(function() {
        $("div.top-menu-bar div:nth-child(1)").addClass('active_title');
    });
    $( document ).ready(function() {
        $("div.menu-bar div:nth-child(3)").addClass('active_title');
    });
</script> - -->

<link rel="stylesheet" href="../static/form.css">
{% endblock %}

{% block more_header %}
<!-- Do I need anything here? -->

{{ pagedown.include_pagedown() }}
{% endblock %}

{% block body %}

<form method="POST" class="cms-form">
    {{ form.hidden_tag() }}
    {{ form.pagedown(rows=10) }}
    {{ form.submit }}
</form>

{% endblock %}
