{% extends "base.html" %}

{% block head %}

<script type="text/javascript" src="static/lib/p5.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bmoren/p5.collide2D@0.6/p5.collide2d.min.js"></script>
<script type="text/javascript" src="static/js/waves.js"></script>

<!--Get circles working-->
<script type="text/javascript" src="{{url_for('static', filename='lib/snap.svg-min.js')}}"></script>
<script type="text/javascript" src="static/projects/js/circles.js"></script>

<link rel="stylesheet" href="../static/projects.css">

<script>
    $( document ).ready(function() {
        $("div.top-menu-bar div:nth-child(2)").addClass('active_title');
    });
</script>

{% endblock %}

{% block body %}

<div class="container">
	<div class="row justify-content-md-center">
		<div class="page-content col-auto">
			{{content | markdown}}
		</div>
	</div>
</div>


{% endblock %}